<div class="container bg-light">
  <h2>MODIFICAR CUENTA BANCARIA</h2>
  <div class="row">
    <div class="col-sm-6">
      <form [formGroup]="cuenta"  class="row g-2" (ngSubmit)="Modificar($event)">
        <div >
          <label class="form-label"> ID </label>
          <div class="p-2 mb-2 bg-light text-black">{{ cuentaB.idCB }}</div>
        </div>
        <div>
          <label class="form-label"> NOMBRE </label>
          <input type="text" [(ngModel)]="cuentaB.nombreCB"  class="form-control" formControlName="nombreCB">
          <div class="alert alert-danger" *ngIf="cuenta.get('nombreCB')?.errors && cuenta.get('nombreCB')?.touched ">
            <p *ngIf="cuenta.get('nombreCB')?.hasError"> El campo es requerido</p>
            <p *ngIf="cuenta.get('nombreCB')?.hasError('pattern')">
              Digite solo LETRAS y solo UN espacio en BLANCO.
            </p>
          </div>
        </div>
        <div >
          <label class="form-label"> ENTIDAD </label>
          <input type="text" [(ngModel)]="cuentaB.entidadCB"  class="form-control"  formControlName="entidadCB">
          <div class="alert alert-danger" *ngIf="cuenta.get('entidadCB')?.errors && cuenta.get('entidadCB')?.touched ">
            <p *ngIf="cuenta.get('entidadCB')?.hasError"> El campo es requerido</p>
            <p *ngIf="cuenta.get('entidadCB')?.hasError('pattern')">
              Digite solo LETRAS y solo UN espacio en BLANCO.
            </p>
          </div>
        </div>
        <div >
          <label class="form-label"> DESCRIPCCIÓN </label>
          <input type="text" [(ngModel)]="cuentaB.descripcionCB"  class="form-control"  formControlName="descripcionCB">
          <div class="alert alert-danger" *ngIf="cuenta.get('descripcionCB')?.errors && cuenta.get('descripcionCB')?.touched ">
            <p *ngIf="cuenta.get('descripcionCB')?.hasError"> El campo es requerido</p>
            <p *ngIf="cuenta.get('descripcionCB')?.hasError('pattern')">
              Digite solo LETRAS y solo UN espacio en BLANCO.
            </p>
          </div>
        </div>
        <div>
          <label class="form-label"> ESTADO </label>
          <div>
            <select class="form-select" [(ngModel)]="cuentaB.estadoCB" aria-label="Default select example" formControlName="estadoCB">
              <option value="true">Habilitado</option>
              <option value="false">Deshabilitado</option>
            </select >
            <div class="alert alert-danger"  *ngIf="cuenta.get('estadoCB')?.errors && cuenta.get('estadoCB')?.touched ">
              <p *ngIf="cuenta.get('estadoCB')?.hasError"> El campo es requerido</p>
            </div>
          </div>
        </div>
        <div class="row mt-4"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <button type="submit" [disabled]="cuenta.invalid" class="btn btn-primary">Guardar</button>
            </div>
            <div class="col-sm">
              <button routerLink="/inicio" class="btn btn-warning">Regresar</button>
            </div>
          </div>
        </div>
      </form>
      <br>
    </div>
    <div></div>
  </div>
  <div class="row mt-4"></div>
</div>

